@model IEnumerable<MeetingOrganizer.Models.tbl_MeetingParticipant>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item active">
                    Katılımcılar
                </li>
            </ul>
        </div>
    </div>





    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                @foreach (var item in Model)
                {

                    @(item.tbl_Participant.Name) @item.tbl_Participant.Surname

                    @*@Html.DropDownListFor(m => m.tbl_Participant.Name, (List<SelectListItem>)ViewBag.Participants, new { @class = "form-control" })*@


                }

            </li>
        </ul>
    </div>
</div>
